@media (max-width: 1200px) {
  .page .social-media .social-media-content .social-media-hero img {
    -o-object-fit: contain;
       object-fit: contain;
    max-width: 500px;
    filter: drop-shadow(15px 8px 7px rgb(10, 10, 10));
  }
}
@media (max-width: 992px) {
  .page .social-media .social-media-content .social-media-hero img {
    -o-object-fit: contain;
       object-fit: contain;
    max-width: 400px;
    filter: drop-shadow(15px 8px 7px rgb(10, 10, 10));
  }
  .page .skills .skills__content .skills__hero img {
    -o-object-fit: contain;
       object-fit: contain;
    max-width: 300px;
  }
  .page .skills .skills__content .wrapper .skills-text {
    font-size: 2rem;
  }
  .page .skills .skills__content .wrapper .skills__info .skills__items {
    width: 150px;
    height: 170px;
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .header .logo {
    max-width: 70px;
  }
  .header .header__img p {
    font-size: 20px;
  }
  .page .hero .container__content .hero__img img {
    max-width: 270px;
  }
  .page .hero .container__content .hero__content .hero__text {
    text-shadow: 4px 5px 4px rgb(5, 5, 5);
    font-size: 2rem;
  }
  .page .social-media .social-media-content .social-media-hero img {
    max-width: 350px;
    filter: drop-shadow(15px 8px 7px rgb(10, 10, 10));
  }
  .page .social-media .social-media-content .social-media-links ul {
    display: flex;
    margin-top: 140px;
    justify-content: flex-start;
    flex-direction: column;
  }
  .page .skills {
    margin-top: -100px;
  }
  .page .skills .skills__content .skills__hero img {
    -o-object-fit: contain;
       object-fit: contain;
    max-width: 220px;
  }
  .page .skills .skills__content .wrapper .skills-text {
    text-shadow: 4px 5px 5px rgb(5, 5, 5);
    font-size: 1.4rem;
  }
  .page .skills .skills__content .wrapper .skills__info .skills__items {
    width: 100px;
    height: 120px;
    margin-top: 0px;
  }
  .page .skills .skills__content .wrapper .skills__info .skills__items img {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .main-modal .modal-bg .modal-window {
    max-width: 250px;
  }
  .header .logo {
    max-width: 50px;
  }
  .page .hero .container__content {
    display: flex;
    align-items: flex-end;
  }
  .page .hero .container__content .hero__img img {
    max-width: 200px;
  }
  .page .hero .container__content .hero__content .hero__text {
    filter: drop-shadow(15px 8px 7px rgb(10, 10, 10));
    font-size: 1.5rem;
  }
  .page .hero .container__content .hero__content .hero__btn {
    display: flex;
    flex-direction: column;
  }
  .page .hero .container__content .hero__content .hero__btn button {
    width: 130px;
    height: 50px;
    margin: 8px 0px 3px 0px;
    padding: 5px 25px;
    font-size: 15px;
  }
  .page .social-media .social-media-content .social-media-hero img {
    max-width: 280px;
    filter: drop-shadow(15px 8px 7px rgb(10, 10, 10));
  }
  .page .social-media .social-media-content .social-media-links ul li a {
    width: 170px;
    height: 60px;
  }
  .page .social-media .social-media-content .social-media-links ul li a span {
    top: 15px;
  }
  .page .skills .skills__content .skills__hero img {
    max-width: 190px;
  }
  .page .skills .skills__content .wrapper {
    margin-bottom: 40px;
  }
  .page .skills .skills__content .wrapper .skills-text {
    font-size: 1.2rem;
    text-shadow: 3px 5px 5px rgb(5, 5, 5);
  }
  .page .skills .skills__content .wrapper .skills__info .skills__items {
    width: 80px;
    height: 85px;
    margin-top: 0px;
  }
  .page .skills .skills__content .wrapper .skills__info .skills__items img {
    max-width: 100%;
  }
  .page .footer .footer__text {
    font-size: 10px;
  }
}
@media (max-width: 375px) {
  .page .hero .container__content .hero__img img {
    max-width: 170px;
  }
  .page .hero .container__content .hero__content .hero__text {
    font-size: 1.3rem;
  }
  .page .skills .skills__content .skills__hero img {
    max-width: 190px;
  }
  .page .skills .skills__content .wrapper {
    margin-bottom: 20px;
  }
  .page .skills .skills__content .wrapper .skills-text {
    font-size: 1.1rem;
  }
  .page .skills .skills__content .wrapper .skills__info .skills__items {
    width: 68px;
    height: 80px;
  }
}
@media (max-width: 360px) {
  .page .hero .container__content .hero__img img {
    max-width: 160px;
  }
  .page .hero .container__content .hero__content .hero__text {
    font-size: 1.2rem;
  }
  .page .social-media .social-media-content .social-media-hero img {
    max-width: 230px;
    filter: drop-shadow(15px 8px 7px rgb(10, 10, 10));
  }
  .page .skills .skills__content .skills__hero img {
    max-width: 170px;
  }
  .page .skills .skills__content .wrapper .skills-text {
    font-size: 1rem;
  }
  .page .skills .skills__content .wrapper .skills__info .skills__items {
    width: 60px;
    height: 70px;
    margin-top: 0px;
  }
  .page .skills .skills__content .wrapper .skills__info .skills__items img {
    max-width: 100%;
  }
}/*# sourceMappingURL=adaptive.css.map */