.main-modal.open .modal-bg,
.main-modal.open .modal-window{
    opacity: 1;
    z-index: 10;
}
.main-modal.hidden .modal-bg,
.main-modal.hidden .modal-window{
    opacity: 0;
    z-index: 1;
}
.modal-window, .modal-bg{
    opacity: 0;
    z-index: -1;
}
.main-modal.open .modal-window{
    transform: translateY(80px);
}
.main-modal.hidden .modal-window{
    transform: translateY(-200px);
}
.main-modal.hidden .modal-bg{
    transition: .4s ease-out;
    background: rgba(0, 0, 0, 0);
}
.modal-bg{
    position: absolute;
    max-width: 100%;
    margin: 0 auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
}

.modal-window{
    max-width: 350px;
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(247, 244, 244);
    transform: translateY(-500px);
    transition: .5s ease-out;
    .modal-header{
        padding: 20px 20px;
        display: flex;
    }
    .modal-content{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        .modal-body{
            max-width: 100%;
            padding: 10px 20px;
            input{
                height: 50px;
                margin-bottom: 10px;
                padding-left: 10px;
                width: 100%;
                border: 1px solid rgb(173, 171, 171);
                border-radius: 15px;
            }
            .text{
                padding: 15px 0 70px 10px;
                resize: none;
                width: 100%;
                outline: none;
                overflow-y: hidden;
                border-radius: 15px;
                border: 1px solid rgb(173, 171, 171);
            }
    
        }
        .modal-footer{
            max-width: 100%;
            padding: 20px 20px;
            display: flex;
            gap: clamp(0.813rem, 0.653rem + 0.8vw, 1.25rem);
            justify-content: right;
            .cancel-btn{
                color: red;
            }
            .send-btn{
                color: rgb(29, 197, 13);
            }
        }
    }
}
